.card .table tbody tr:hover
{
    background-color: #f1f1f1 ;
    transition: 0.2s;
}
.shadow .table tbody tr:hover
{
    background-color: #05142f !important;
    transition: 0.2s;
}
.nav-child:hover{
    background-color: #fefefe;
}
.nav-child-active{
    background-color: #fefefe;
}
.link-nav-child{
    font-size: sm;
    color: black;
}
.link-nav-child-active{
    font-weight: 700;
}